/* THEMING */
.light, :root {
    --bg: #f6f4f0;
    --bg-light: #f6f9fc;
    --dark: #181c1f;
    --text: #181c1f;
    --text-inverse: #eaf2f7;
    --theme: #fffbcd;
    --marker-color: 255, 234, 71;
    --border: #1f3816c4;
    --shadow: #81b78730;
}

.dark, :root {
    --bg: #181c1f;
    --bg-light: #2c2c30;
    --dark: #eaf2f7;
    --text: #eaf2f7;
    --text-inverse: #181c1f;
    --theme: #ffd848;
    --marker-color: 102, 255, 174;
    --border: #ddcfa1cf;
    --shadow: #ddcfa130;
}



/* UTILITY */

.background {
    background-color: var(--bg-light);
}

.rounded {
    border-radius: 4px;
}

.outline {
    border: 1px solid var(--border);
}

.shadow {
    box-shadow: 4px 4px 0 var(--shadow);
}


.expand {
    flex: 1;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

/* GENERAL */
#article {
    flex-grow: 1;
    max-width: 100%;
    min-width: 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* TYPOGRAPHY */
#article h1 {
    font-size: 3em;
    padding-top: 0;
    padding-bottom: 0.4rem;
    line-height: 1.0;
    font-weight: 200;
}

#article h2 {
    scroll-margin-top: 2em;
    font-size: 1.8rem;
    padding-top: 2.6rem;
    padding-bottom: 1rem;
    font-weight: bold;
}

#article h3 {
    scroll-margin-top: 4.8em;
    font-size: 1.2rem;
    padding-top: 0.6rem;
    padding-bottom: 0.4rem;
    font-weight: bold;
}

#article h4 {
    scroll-margin-top: 4.8em;
    font-size: 1.0rem;
    padding-top: 2.4rem;
    padding-bottom: 0.4rem;
    font-weight: bold;
}

p {
    line-height: 1.8;
    margin-bottom: 1em;
    font-size: 0.9rem;
    font-family: Inconsolata, monospace;
}

/* TAXONOMY */
#taxonomy-card a {
    text-decoration: none;
}

#familia-taxon {
    margin-left: 0.15em;
    margin-right: 0.15em;
    color: var(--black);
    padding: 0.15em 0.5em;
    border-radius: 6px;
    background-color: #c6eb8e;
}

#genus-taxon {
    margin-left: 0.15em;
    margin-right: 0.15em;
    color: var(--black);
    font-style: italic;
    padding: 0.15em 0.5em;
    border-radius: 6px;
    background-color: #d8e3bf;
}

#species-taxon {
    margin-left: 0.15em;
    margin-right: 0.15em;
    color: var(--black);
    font-style: italic;
    padding: 0.15em 0.5em;
    border-radius: 6px;
    background-color: #b4e9e2;
}

#subspecies-taxon {
    color: var(--black);
    font-style: italic;
    padding: 0.15em 0.5em;
    border-radius: 6px;
    background-color: #ead997;
}

#cultivar-taxon {
    color: var(--black);
    padding: 0.15em 0.4em;
    border-radius: 6px;
    background-color: #e4e4e4;
}

#cultivar-taxon:before {
    content: '\'';
}

#cultivar-taxon:after {
    content: '\'';
}

/* FOOTER */
#article #footer {
    margin-top: 6em;
    background: var(--bg-light);
}

#article #footer p {
    margin: 0;
}



.gap {
    gap: 2em;
}
.small-gap {
    gap: 0.8em;
}


.low {
    margin-left: 0.15em;
    margin-right: 0.15em;
    color: var(--black);
    font-style: italic;
    padding: 0.15em 0.4em;
    border-radius: 6px;
    background-color: #ffc8c8;
}

.medium {
    margin-left: 0.15em;
    margin-right: 0.15em;
    color: var(--black);
    font-style: italic;
    padding: 0.15em 0.4em;
    border-radius: 6px;
    background-color: #fff9c7;
}

.high {
    margin-left: 0.15em;
    margin-right: 0.15em;
    color: var(--black);
    font-style: italic;
    padding: 0.15em 0.4em;
    border-radius: 6px;
    background-color: #b4e9bc;
}

table, th, td {
    border: 1px solid;
}

th {
    font-weight: bold;
}

th, td {
    padding: 0.5em;
    padding-right: 3em;
}

#pies {
    width: 22em;
    height: 22em;
}
