/* src/assets/css/blocks/search.css */
.pagefind-ui{
    --pagefind-ui-scale: 1;
    --pagefind-ui-border-radius: 4px;
    --pagefind-ui-image-border-radius: 4px;
}
.pagefind-ui__result {

}
.pagefind-ui__button {

}
.pagefind-ui__button:hover {

}

.pagefind-ui__search-input:focus-visible {

}


.pagefind-ui__result-excerpt mark {
    background-color: var(--theme);
}

.pagefind-ui__result-image {
    width: 6rem !important;
    height: 6rem !important;
    object-fit: cover;
}


.pagefind-ui__result-tag {
    background-color: #b4e9e2 !important;
    text-transform:lowercase;
}
